* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  background-color: #070720;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: #151533;
  width: 550px;
  border-radius: 15px;
  padding: 25px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#header-form {
  color: #fff;
  margin-bottom: 25px;
}

.form-group {
  color: #fff;
}

#data-nascimento {
  width: 40%;
}

.form-check {
  color: #fff;
}

.text-form {
  color: #fff;
  text-align: center;
}

#buttons-form-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 15px;
}

.modal-body{
  display: flex;
  flex-direction: column;
}

.modal-text{
  font-size: 20px;
  text-align: center;
}

@media (max-width: 400px) {
  form {
    background-color: transparent;
  }
}
